  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

  main {
    flex: 1 0 auto;
  }

.card-item {
    font-weight:300;
    font-style:italic;
  }

.parallax-container {
  height: auto;
}

footer.page-footer{
    background-color: transparent;
}