<div class="section">
  <div class="center">
    <h1 class="center-text" style="font-weight:300;font-style:italic;">Tom Haines </h1>
    <h4 class="center-text" style="font-weight:300">Sitting page for my domain & portfolio</h4>
    <div class="row" style="font-weight:300;font-style:italic;">
      <a class="black waves-effect waves-light btn" href="/">home</a> <a class="black waves-effect waves-light btn" href="/view">blog</a>
      {% if current_user.is_authenticated %}
        <p>Logged in as: {{ current_user.email }}</p>
      {% endif %}
  </div>
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="card red">
        <div class="card-content white-text">
        {{ message }}
        </div>
      </div>
    {% endfor %}
  {% endwith %}
  </div>
</div>
