<div class="section">
  <div class="center">
    <h1 class="center-text" style="font-weight:300;font-style:italic;">Tom Haines </h1>
    <h4 class="center-text" style="font-weight:300">Sitting page for my domain & portfolio</h4>
    <div class="row" style="font-weight:300;font-style:italic;">
      <a class="black waves-effect waves-light btn" href="/">home</a>
      <a class="black waves-effect waves-light btn" href="{{ url_for('blog.main', page=1) }}">blog</a>
      {% if current_user.is_authenticated %}
      <a class="black waves-effect waves-light btn" href="/create/">create</a>
      {% endif %}
  </div>
  {% with messages = get_flashed_messages() %}
  <div class="container">
    {% for message in messages %}
    <div class="card red">
        <div class="card-content white-text">
        {{ message }}
        </div>
      </div>
    {% endfor %}
    </div>
  {% endwith %}
  </div>
</div>
