{% extends 'base.html' %} 
{% block head %}
  {{ super() }}
  <title>Tom Haines Blog </title>
{% endblock %} 
{% block content %} 
{% include 'header.html' %}
  {% for post in posts.items %}
    <h1 style="">#{{ post.id }}: </h1>
    <div class="row">
      <div class="col s12 m3">
        <h3 style="font-weight:300">{{ post.title }}</h3>
      </div>
      <div class="col s12 m9">
        {{ post.content|safe|truncate(1600) }}
        <p><a href="{{ url_for('blog.view_post', id=post.id)}}" class="btn black">Read More</a></p>
    </div>
    </div>
  {% endfor %}
  <div class="section">
    <div class="center">
    {% if posts.has_prev %}
      <a href="{{ url_for('blog.main', page=posts.prev_num) }}" class="black waves-effect waves-light btn">Previous</a>
    {% endif %}
    {% if posts.has_next %}
      <a href="{{ url_for('blog.main', page=posts.next_num) }}" class="black waves-effect waves-light btn">Next</a>
    {% endif %}
    </div>
  </div>
  {% endblock %}