{% extends "base.html" %}
{% include "header.html" %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col s0 l3"></div>
  <div class="col s12 l6">
  <div class="card center">
    <div class="card-content">
      <form method="POST">
        {{ form.hidden_tag() }}
        <p class="red-text">{{ form.errors.get('email')[0] }}</p>
        <div class="input-field">
          {{ form.email.label }}
          {{ form.email() }}
        </div>
        <p class="red-text">{{ form.errors.get('password')[0] }}</p>
        <div class="input-field">
          {{ form.password.label }}
          {{ form.password() }}
        </div>
        <div class="card-action">
          <button type="submit" class="btn black">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <div class="col s0 l3"></div>
</div>
</div>
{% endblock %}
