{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="divider"></div>
</div>
<div class="parallax-container">
<div class="parallax"><img src="/static/parallax.jpg"></img></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6 white-text">
        <h3 class="" style="font-weight:300">Me.</h3>
        <h5 class="">16. Make Internet things.</h5>
        <p>
          Enjoys Python. Grits teeth and hopes with jQuery.
          Hopefully I will find time to write and update the blog and this website.
          This website is designed to be my testbed for learning new things, so is rediculously
          over-engineered and has so many things (like the parallax for example) that probaly
          dont make a difference but are just nice to have.
        </p>
        <h5>Other Stuff:</h5>
        <a class="btn white black-text" href="https://teamzestyme.me">Cyber Centurion</a>
      </div>
      <div class="col s12 m12 l6">
        <div class="card">
          <div class="card-content">
            <div class="card-title">My GitHub</div>
            <div class="collection">
              <!-- Github repo list -->
            </div>
            <p class="github-activity"></p>
            <div class="center preloader-jquery-hook">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    {% if post %}
    <div class="row">
      <div class="col s12 l6">
        <div class="card">
        <div class="card-content">
        <span class="card-title">My Blog</span>  
        <h4 style="font-weight:300;font-style:italic;"><a href="{{ url_for('blog.view_post', id=post.id) }}">#{{ post.id }}: {{ post.title }}</a></h4>
        <div class="">
          {{ post.content[:1000]| safe }}...<a href="{{ url_for('blog.view_post', id=post.id) }}">(Read More)</a>
        </div>
        </div>
        </div>
      </div>
      <div class="col s12 l6">
      {% else %}
      <div class="col l12">
      {% endif %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">Contact Me</span>
          {% if contact.errors %}
            {% for error in contact.errors %}
              <p class="red-text">There was an error with the field: {{ error }}</p>
            {% endfor %}
          {% endif %}
          <form method="POST" action="/">
            {{ contact.hidden_tag() }}
            <div class="input-field">
              <label for="name">Your Name</label>
              {{ contact.name() }}
            </div>
            <div class="input-field">
              <label for="email">Your Email</label>
              {{ contact.email() }}
            </div>
            <div class="input-field">
              <label for="email">Subject</label>
              {{ contact.subject() }}
            </div>
            <div class="input-field">
              <label for="message">Message</label>
              {{ contact.message(class_="materialize-textarea") }}
            </div>
            </div>
            <div class="card-action">
              <button class="black waves-effect waves-light btn" type="submit">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>  
    </div>  
    </div>
    </div>
  </div>
  <script>
var recent_repos = {}
var last_activity = {}
// Get list of github repos
$(function (){
  $.when(
    $.get("/api/v1/github/get_recent_repos/",
    function( data ){ recent_repos = data; },
    "json"),

    $.get("/api/v1/github/last_activity",
    function( data ){ last_activity = data; },
    "json")

  ).then(function() {
      
      for (item in recent_repos ){
        $(".collection").append("<a href=" + recent_repos[item].url + " class='black-text card-item collection-item'>" + recent_repos[item].name + "</a>");
      }

      //$(".github-activity").append(last_activity.time + "I was" + last_activity.activity + "<a href='" + last_activity.repo.url + "'> " + last_activity.repo.name + 
        //"</a> with the message: <i>" + last_activity.commit_message + "</i>");
      github_activity = $(".github-activity");

      github_activity.append(` ${last_activity.time} I was ${last_activity.activity} <a href='${last_activity.repo.url}'> ${last_activity.repo.name} </a>`);
      
      if (last_activity.commit_message) { github_activity.append(`with the message: <i> ${last_activity.commit_message}</i>`)}

      $(".preloader-jquery-hook").remove();

      $(document).ready(function(){ // Re-initialize to fix awkward jumping bug
        $('.parallax').parallax();
      });
    }
  )
})


</script> {% endblock %}